/* Global Formats */
.container-fluid {
  font-family: Lato, Arial, sans-serif;
}

.main-container {
  font-family: Lato, Arial, sans-serif;
}

/* title styles */
h1 {
  font: 400 30px/1.3em  Lato, Arial, sans-serif;
  margin: 0 0 .5em;
}

h2 {
  color: #1696d2;
}

h4 {
  font: 400 24px/30px  Lato, Arial, sans-serif;
    font-style: normal;
    font-variant-ligatures: normal;
    font-variant-caps: normal;
    font-variant-numeric: normal;
    font-variant-east-asian: normal;
    font-weight: 400;
    font-stretch: normal;
    font-size: 24px;
    line-height: 30px;
    font-family:  Lato, Arial, sans-serif;
}

/* paragraph styles */
p {
  font-size: 14px;
  margin: 0 0 8px 0;
}

/* image styles */
img {
  padding: 36px 0 32px 0;
}

.navbar {
  background-color: #1696d2;
  color: #ffffff;
  font-weight: bold;
}

.navbar-default .navbar-brand {
  color: #FFFFFF;
}

.navbar-default .navbar-nav>li>a {
  color: #FFFFFF;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
  color: #1696d2;
  background-color: #FFFFFF;
}

/* list styles */
li {
  font-size: 16px;
}


/* link styles */
.a {
  color: #1696d2;
}

/* Header image formatting */
#header {
  padding-top: 12px;
}

/* Legend Formatting */
.list-group-item.active {
  background-color: #1696d2;
  border-color: #1696d2;
}

.list-group-item.active:hover {
  background-color: #000000;
  border-color: #000000;
}

.tocify {
  border-radius: 0;
}

/* Button Formatting */
.btn {
  border-radius: 0;
}

/* special styles */
#date {
  text-align: center;
    font: italic 14px Georgia,serif;
    color: #666;
    margin-bottom: 2em;
    margin-top: 2em;
}

@media print{
    /* remove elements */
    #TOC, #toc, #header-pinned{
        display: none;
    }
    .nav-tabs{
        display: none;
    }
    .exclude{
        display: none;
    }
    .contentBlock.title{
        padding-top: 0px;
    }
    .expandContainer{
        height: fit-content !important;
        height: -moz-fit-content;
    }
    .expandFull{
        display: block !important;
    }
  @page {
    size: 210mm 297mm; /* portrait
    /* you can also specify margins here: */
    margin: 15mm;
   /*margin-right: 45mm;  for compatibility with both A4 and Letter */
  }
  /* page breaks */
  .printbreak {
    page-break-before: always;
  }
  .avoidpagebreak {
    break-inside: avoid-page;
  }
}

.p2 {
  font-size: 14px;
  margin: 0 0 8px 0;
}
